.footer {
    padding: 2rem 0 2rem 0;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 9px 0px rgba(0,0,0,0.75);
}

.footerMail {
    width: 25%;
    padding:.5rem;
}

.footerBoton {
    padding:.5rem;
    width: 10%;
    border: 1px solid #BEBEBE;
    background-color: transparent;
    border-radius: 5px;
    transition: all .1s ease-in-out;
}

.footerBoton:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.footerSecundario {
    backdrop-filter: blur(20px);
    margin: 1rem 0 0 0;
}

.footerImagenes {
    padding: 1rem 0 0 0;
}

.iconosLink {
    margin: 0 .5rem;
}

.footerLinks {
    margin: 1rem 0 0 0;
}

.footerlink {
    margin: 1rem .5rem 0 0;
    text-decoration: none;
    color: black;
    padding: 0 1rem 0 0;
    transition: all .5s ease-in-out;
}

.borderRight {
    border-right: 1px solid black;
}