.fondoDiseño {
    background-image: url(/Pagina-solo/img/fondoDiseño.png);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.fondoDiseño2 {
    background-image: url(/Pagina-solo/img/fondoDiseño2.png);
    background-attachment: fixed;
    background-size: cover;
}

.fondoVisual {
    background-image: url(/Pagina-solo/img/fondoVisual.png);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.fondoVisual2 {
    background-image: url(/Pagina-solo/img/fondoVisual2.png);
    background-attachment: fixed;
    background-size: cover;
}

.fondoPrograma {
    background-image: url(/Pagina-solo/img/fondoPrograma.png);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.fondoPrograma2 {
    background-image: url(/Pagina-solo/img/fondoPrograma2.png);
    background-attachment: fixed;
    background-size: cover;
}
