.extensionesContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
}

.extensionesLogo {
    width: 50%;
    animation-name: desapear;
    animation-duration: 1s;
    width: 400px;
}

.extensionesTitulo {
    width: 50%;
    font-size: 4rem;
    margin: 4rem 0 0 3rem;
}

body {
    animation-name: desapear;
    animation-duration: 1s;
}

@keyframes desapear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.imageWrapper {
    position: absolute; /* Se establece la posición absoluta para posicionar la imagen */
    height: 100%; /* Se establece la altura de la imagen al 100% del contenedor */
    z-index: -1; /* Se establece un valor de z-index inferior al del texto para que la imagen esté detrás */
  }


  