.encabezadoFondo {
    background-image: url(./Fondoindex.jpg);
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.encabezadoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.encabezadoMarca {
    margin: 1rem;
}

.encabezadoTitulo {
    font-size: 1.5rem;
    margin: .5rem 0 0 1rem;
}

.encabezadoLista {
    display: flex;
    list-style: none;
    margin: 0 3rem 0 0;
}

.encabezadoTexto {
    margin: .5rem 1rem 0 1rem;
    text-decoration: none;
    color: black;
    font-size: .9rem;
}

.encabezadoLink {
    text-decoration: none;
}

.encabezadoLinkFocus {
    color: black;
}

.fontTitulo {
    font-size: 10rem;
}
